apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
spec:
  # Minimum time it must be online in order to
  # close the old replica
  # minReadySeconds: 30
  selector:
    matchLabels:
      app: webapp
  replicas: 2
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
      - name: webapp
        image: richardchesterwood/k8s-fleetman-webapp-angular:release0